.klpbg {
	background: url(https://api.klpbbs.com/api/img/acg/) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	filter: brightness(0.75);
}
.center {
	padding: 20px;
}
@media screen and (min-width: 800px) {
	.center {
		border-radius: 10px;
		width: 760px;
		height: 560px;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}